@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .avatar-mask {
    mask-image: url('/avatar-mask.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  .drop-shadow-avatar {
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.3));
  }
}
